<html>
    <head>
        <title>sig-log</title>
    </head>
    <body>
        <div>
            <h1><em><a href="/">what a hell!!</a></em></h1>
        </div>
<br /><br /><br /><br /><br /><br /><br /><br />
        <div>
            <p><em>published: 00.00.0000, 12:14</em></p>
            <h2><a href="">My first post</a></h2>
            <p>suck</p>
        </div>

        <div>
            <p>published: 11.11.1111, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>my</p>
        </div>
    </body>
</html>